.theme_light {
  --menu-color: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --title-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);

  background-image: url('../images/cover-image-light.png');
}

.theme_light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --menu-color: rgba(53, 52, 48, 1);
    --title-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --title-text-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
  }

  .theme_auto.page {
    background-image: url('../images/cover-image-light.png');
  }
  
  .theme_auto .header__decoration {
    display: none;
  }
}