.theme_light {
  --menu-color: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --title-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);

  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --header-decoration-element-display: none;

  --menu-button-hover-border-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --menu-color: rgba(53, 52, 48, 1);
    --title-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --title-text-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
 
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --header-decoration-element-display: none;

    --menu-button-hover-border-color: rgba(50, 49, 45, 0.4);
  }
}
